.footer__copyright {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
}

@media screen and (max-width: 480px){
    .footer__copyright {
        margin: 48px 0 24px 0;
    }
}
