.header__nav {
    width: 100%;
}

@media screen and (max-width: 480px){
    .header__nav {
        display: flex;
        background: #d4dde8;
        position: fixed;
        width: 100%;
        top: 135px;
        height: 0;
        z-index: 3;
        transition: .5s;
        transition-delay: .5s;
        overflow: hidden;
        border-top: none;
    }
}