@import url('./_video/content-title_video.css');
@import url('./_comments/content-title_comments.css');


.content-title {
    font-style: normal;
    color: #ffffff;
    font-weight: 900;

    max-width: 800px;
    text-align: center;   
    margin: 0 auto; 
}