.header__logo {
    background-image: url('../../../../images/logo.png');
    width: 176.58px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 372px){
    .header__logo {
        width: 142px;
    }
}