@import url('./__logo/header__logo.css');
@import url('./__info/header__info.css');
@import url('./__contacts/header__contacts.css');
@import url('./__menu/header__menu.css');
@import url('./__content/header__content.css');
@import url('./__menu-item/header__menu-item.css');
@import url('./__link/header__link.css');
@import url('./__contacts-row/header__contacts-row.css');
@import url('./__button/header__button.css');
@import url('./__logo-row/header__logo-row.css');
@import url('./__row/header__row.css');
@import url('./__menu-block/header__menu-block.css');
@import url('./__container/header__container.css');
@import url('./__nav/header__nav.css');

.header {
    background-color: #d4dde8;
}

@media screen and (max-width: 480px) {
    .header {
        position: fixed;
        width: 100%;
        z-index: 100;
    }
}