@import url('./__text/individual__text.css');
@import url('./__title/individual__title.css');
@import url('./__image/individual__image.css');

.individual {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-column-gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 59px 0 105px 0;
}
