@import url('./__columns/footer__columns.css');
@import url('./__column-heading/footer__column-heading.css');
@import url('./__column-item/footer__column-item.css');
@import url('./__column/footer__column.css');
@import url('./__link/footer__link.css');
@import url('./__column-list/footer__column-list.css');
@import url('./__social-icons/footer__social-icons.css');

.footer {
    min-height: 305px;
    background-color: #000;
    padding-top: 43px;
}
