@import url('./__header/page__header.css');
@import url('./__lead/page__lead.css');
@import url('./__intro/page__intro.css');
@import url('./__photo-grid/page__photo-grid.css');
@import url('./__places/page__places.css');
@import url('./__content-title/page__content-title.css');
@import url('./__video/page__video.css');
@import url('./__comments/page__comments.css');
@import url('./__content-subtitle/page__content-subtitle.css');
@import url('./__cover/page__cover.css');
@import url('./__footer/page__footer.css');

.page {
    max-width: 1184px;
    min-width: 300px;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Inter', sans-serif;;
    background-color: #2a2c2f;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
