.progress__line_active-right {
    background: #adadad;
    background: -webkit-linear-gradient(right,#589bda, #adadad);
    background: -moz-linear-gradient(right, #589bda, #adadad);
    background: linear-gradient(to right, #589bda, #adadad);
}