.place__tab {
    display: grid;
    grid-template-columns: 47% 49%;
    grid-column-gap: 40px;
}

@media screen and (max-width: 992px){
    .place__tab {
        grid-column-gap: 28px;
    }
}

@media screen and (max-width: 699px) {
    .place__tab {
        grid-template-columns: 100%;

    }
}

