.lead__subtitle {
    max-width: 583px;
    margin: 48px auto 78px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .lead__subtitle {
        margin: 46px auto 65px;
    }
}

@media screen and (max-width: 992px) {
    .lead__subtitle {
        margin: 48px auto 78px;
    }
}

@media screen and (max-width: 699px) {
    .lead__subtitle {
        font-size: 24px;
        line-height: 35px;
    }
}


@media screen and (max-width: 480px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 23px;
        width: 91.47%;
        margin: 8px auto 31px;
    }
}

@media screen and (max-width: 372px){
    .lead__subtitle {
        width: 90%;
    }
}