@media screen and (max-width: 480px) {
    .wizard-contacts__container {
        display: flex;
        justify-content: space-between;
        margin: 16px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .wizard-contacts__container {
        flex-direction: column;
    }
}