.page__section {
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1140px){
    .page__section {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .page__section {
        width: 90%;
        min-width: 290px;
    }
}