.lead__caption {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    margin-top: 10.87px;
}

@media screen and (max-width: 992px) {
    .lead__caption {
        margin-left: 24px;
    }
}