@import url('./__header/root__header.css');
@import url('./__about/root__about.css');
@import url('./__logo/root__logo.css');
@import url('./__title/root__title.css');
@import url('./__actions/root__actions.css');
@import url('./__experience/root__experience.css');
@import url('./__you/root__you.css');
@import url('./__request/root__request.css');

.root {
    max-width: 1440px;
    margin:0 auto;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #898E93;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale    
}
