@import url('./_width/list__left_width.css');

.list__left {
    display: block;
    float: left;
    z-index: 2;
    padding-right: 2px;
}

@media screen and (max-width: 992px) {
    .list__left {
        font-size: 13px;
    }
}
