.list__row {
    display: block;
    position: relative;
    overflow: hidden;
}

.list__row:not(:last-child) {
    margin-bottom: 30px;
}

.list__row:after {
    content:'';
    display: block;
    overflow: hidden;
    height: 14px;
    border-bottom: 1px dotted #666
}

@media screen and (max-width: 992px) {
    .service-sale .list__row:after {
        display: none;
    }
}