.wizard-contacts__icon {
    display: none;
}

@media screen and (max-width: 480px) {
    .wizard-contacts__icon {
        padding-right: 10px;
        display: block;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .wizard-contacts__icon {
        margin-bottom: 16px;
    }
}