.footer__calculate {
   margin-top: 30px;
}


@media screen and (max-width: 680px) {
   .footer__calculate {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      height: 65px;
   }
}