.comment__quote {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 24px 0;
}

@media screen and (max-width: 992px){
    .comment__quote {
        order: 3;
        font-size: 16px;
        line-height: 23px;
    }
}

@media screen and (max-width: 480px){
    .comment__quote {
        margin: 24px 0 0 0;
        width: 91.7%;
    }
}

@media screen and (max-width: 480px){
    .comment__quote {
        margin: 24px 0 0 0;
        width: 288px;
    }
}
