.contacts-row__company {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0;
}

@media screen and (max-width: 992px){
    .footer .contacts-row__company {
        width: 150px;
    }
}