@import url('./__left/about__left.css');
@import url('./__title/about__title.css');
@import url('./__text/about__text.css');

.about {
    max-width: 1367px;
    width: 100%;
    background-image: url('../../../images/sales_bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 82% 190px; /*если для блока задать padding-top вместо margin, картинка уползает наверх, поэтому 145px*/
    padding: 145px 0 0 138px;
}
