@import url('./__title-part/experience__title-part.css');
@import url('./__text/experience__text.css');
@import url('./__right/experience__right.css');
@import url('./__title/experience__title.css');

.experience {
    background: #F2F5F8;
    display: grid;
    grid-template-columns: repeat(2, 37%);
    grid-column-gap: 66px;
    justify-content: center;
}
