.footer__button {
   color: #ffffff;
   margin: 10px 0 20px;
}

@media screen and (max-width: 992px) {
   .footer__button {
      width: 145px;
   }
}

@media screen and (max-width: 680px) {
   .footer__button {
      margin: 10px auto 20px;
   }
}