.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    grid-column-gap: 30px;
    grid-row-gap: 15px;
}

@media screen and (max-width: 1140px) {
    .services {
        grid-template-columns: repeat(auto-fill, 48%);
        grid-column-gap: 20px;
    }
}

@media screen and (max-width: 680px) {
    .services {
        grid-template-columns: 100%;
    }
}
