@import url('./__text/download__text.css');

.download {
    display: flex;
    margin: 0;
}

@media screen and (max-width: 730px) {
    .download {
        padding: 25px 0;
        border-top: 1px solid #f4f4f4;
    }
}