@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('');

.cover {
    background: url('../../../images/dmitrii-vaccinium-22833-unsplash.jpg') no-repeat;
    height: 594px;
    display: flex;  
    flex-direction: column;
    justify-content: flex-end;
    background-size: auto 100%;
    background-position: 50% 50%;
}

.cover:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1200px) {
    .cover {
        width: 100%;
        height: 562px;
    }
}

@media screen and (max-width: 992px) {
    .cover {
        height: 500px;
    }
}

@media screen and (max-width: 480px) {
    .cover {
        height: 272px;
    }
}

@media screen and (max-width:372px) {
    .cover {
        height: 216px;
    }
}
