.header__contacts {
    display: flex;
}

@media screen and (max-width: 992px){
    .header__contacts {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 680px){
    .header__contacts {
        width: 90%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px){
    .header__contacts {
        width: 100%;
        justify-content: center;
    }
}

