.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 1140px) {
    .footer__content {
        width: 95%;
    }
}

@media screen and (max-width: 680px) {
    .footer__content {
        flex-direction: column;
    }
}