@import url('./__comment-input/contacts-inputs__comment-input.css');
@import url('./__name-input/contacts-inputs__name-input.css');
@import url('./__phone-input/contacts-inputs__phone-input.css');

.contacts-inputs {
    width: 50%;
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas:
        "name phone"
        "comment comment"
}

@media screen and (max-width: 992px) {
    .contacts-inputs {
        grid-template-columns: repeat(2, 200px);
        margin-right: 79px;
    }
}

@media screen and (max-width: 730px) {
    .contacts-inputs {
        grid-template-columns: repeat(2, 51.5%);
        grid-column-gap: 17px;
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .contacts-inputs {
        grid-template-columns: repeat(2, 48%);
    }
}