 @import url('./__checkbox/checkbox-container__chekbox.css');
 @import url('./__checkmark/checkbox-container__checkmark.css');

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container .checkbox-container__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container .checkbox-container__checkbox:checked ~ .checkbox-container__checkmark:after {
    display: block;
}

.checkbox-container .checkbox-container__checkmark:after {
    left: 5px;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid #589bda;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }