.content-title_video {
    font-size: 72px;
    line-height: 78px;
}

@media screen and (max-width: 992px) {
    .content-title_video {
        font-size: 42px;
        line-height: 46px;
        white-space: pre-line;
    }
}

@media screen and (max-width: 480px) {
    .content-title_video {
        font-size: 32px;
        line-height: 35px;
    }
}