@import url('./__list-row/service-sale__list-row.css');
@import url('./__list-left/service-sale__list-left.css');

.service-sale {
    padding: 30px 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    .service-sale {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 680px) {
    .service-sale {
        padding: 0;
    }
}