.intro__text_stat {
    font-size: 13px;
    line-height: 20px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 480px) {
    .intro__text_stat {
        font-size: 12px;
        line-height: 19px;
    }
}