@import url('./_big/actions-item__text_big.css');
@import url('./_medium/actions-item__text_medium.css');
@import url('./_small/actions-item__text_small.css');

.actions-item__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin: 22px 0 0;
}
