.progress__list {
    width: 100%;
    padding: 0 18px;
    height: 2em;
    margin: 0;
    padding: 40px 40px 0 40px;
    font-size: 9px;
    display: flex;
}

.progress__list .progress__list-item:last-child:after {
    display: none;
}

.progress__list .progress__list-item:last-child .progress__line {
    display: none;
}

@media screen and (max-width: 992px) {
    .progress__list {
        width: 95%;
    }
}

@media screen and (max-width: 680px) {
    .progress__list {
        width: 90%;
    }
}