.input-container__square-input {
    width: 245px;
    margin-right: 20px;
}

@media screen and (max-width: 680px) {
    .input-container__square-input {
        margin: 0 0 25px 0;
        width: 105%;
    }
}

@media screen and (max-width: 320px) {
    .input-container__square-input {
        margin: 0 0 25px 0;
        width: 275px;
    }
}