@import url('./__title/needs__title.css');
@import url('./__text/needs__text.css');
@import url('./__image/needs__image.css');

.needs {
    display: grid;
    grid-template-columns: repeat(2, 434px);
    grid-column-gap: 108px;
    justify-content: center;
    padding: 76px 0 60px 0;
}
