@import url('./_active/progress__list-item_active.css');
@import url('./_calm/progress__list-item_calm.css');

.progress__list-item {
     width: 22.6%;
     height: 100%;
     list-style: none;
     position: relative;
     margin: 0;
     padding: 0 0 20px 0;
}

.progress__list-item:before {
     content: '';
     display: block;
     position: absolute;
     left: 0;
     top: -35px;
     width: 2em;
     height: 2em;
     border-radius: 2em;
     z-index: 2;
}

.progress__list-item:last-child {
     width: fit-content;
}

.progress__list-item:not(:first-child) .progress__text {
     position: relative;
     left: -43%;
     text-align: center;
}
