@import url('./_active-right/progress__line_active-right.css');
@import url('./_active-left/progress__line_active-left.css');
@import url('./_calm/progress__line_calm.css');

.progress__line {
    position: absolute;
    display: block;
    top: -48px;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    height: .3em;
    z-index: 1;
}
