@import url('./__text/step__text.css');

.step {
    display: none;
}


@media screen and (max-width: 480px) {
    .step {
        display: flex;
        height: 50px;
        background: #f4f4f4;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin: 40px 0;
    }
}
