.comments__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 992px){
    .comments__container {
        flex-direction: column;
        align-items: center;
    }
}