@import url('./__prev/breadcrumbs__prev.css');

.breadcrumbs {
    padding-top: 40px;
}

@media screen and (max-width: 480px) {
    .breadcrumbs {
        text-align: center;
        padding-top: 176px;
    }
}