.progress__line_active-left {
    background: #adadad;
    background: -webkit-linear-gradient(left,#589bda, #adadad);
    background: -moz-linear-gradient(left, #589bda, #adadad);
    background: linear-gradient(to left, #589bda, #adadad);
}