.request__input {
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    width: 218px;
    height: 52px;
    padding: 15px 0 15px 10px;
    color: #333;
    font-size: 15px;
    line-height: 20px;
}

.request__input::placeholder {
    color: #979797;
}
