@import url('./__line/burger__line.css');
@import url('./__button/burger__button.css');

.burger {
    display: none;
}

@media screen and (max-width: 480px) {
    .burger:checked ~ .header__nav {
        height: 170px;
        transition-delay: 0s;

    }

    .burger:checked ~ .header__nav > .header__menu > .header__menu-item {
        opacity: 1;
        transition-delay: .5s;
    }

    .burger:checked + .burger__button > .burger__line {
        opacity: 0;
        top: 50%;
    }

    .burger:checked  + .burger__button > .burger__line:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }
      .burger:checked  + .burger__button > .burger__line:last-child {
        opacity: 1;
        transform: rotate(-405deg);
      }
}