.result__total-caption {
    max-width: 415px;
    font-size: 30px;
    line-height: 32px;
}

@media screen and (max-width: 680px) {
    .result__total-caption {
        text-align: center;
        width: auto;
    }
}