@import url('./__address/contacts-row__address.css');
@import url('./__company/contacts-row__company.css');
@import url('./__button/contacts-row__button.css');
@import url('./__email/contacts-row__email.css');
@import url('./__phone/contacts-row__phone.css');
@import url('./__name/contacts-row__name.css');
@import url('./__calculate/contacts-row__calculate.css');

.contacts-row {
    display: flex;
    align-items: center;
}


