.comment__author {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

@media screen and (max-width: 992px){
    .comment__author {
        order: 2;
        margin-top: 14px;

    }
}