@import url('./__title/tariffs__title.css');
@import url('./__container/tariffs__container.css');
@import url('./__button/tariffs__button.css');

.tariffs {
    background-color: #F2F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 117px;
}
