.cover__title {
    font-size: 72px;
    line-height: 78px;
    text-align: center;
}

@media screen and (max-width: 1200px){
    .cover__title {
        width: 55%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px){
    .cover__title {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 60%;
    }
}