.header__menu-item {
    text-decoration: none;
    text-transform: uppercase;
    color: #202020;
}

@media screen and (max-width: 480px) {
    .header__menu-item {
        opacity: 0;
        transition: .5s;
        transition-delay: 0s;
    }
}