@import url('./__menu/header__menu.css');
@import url('./__item/header__item.css');
@import url('./__button/header__button.css');

.header {
    min-height: 70px;
    max-width: 1220px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
