.download__text {
    margin: 0 15px 0 0;
    color: #589bda;
    text-decoration: underline;
    text-decoration-style: dashed;
}

@media screen and (max-width: 730px) {
.download__text {
    padding-left: 25px;
    }
}
