@import url('./_blue/list__right_blue.css');
@import url('./_sale/list__right_sale.css');
@import url('./_standard/list__right_standard.css');

.list__right {
    display: block;
    float: right;
    z-index: 2;
    padding-left: 2px;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .service-sale .list__right {
        float: left;
    }
}