.cover__subtitle {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 382px;
    margin:  48px auto;
   
}

@media screen and (max-width: 992px) {
    .cover__subtitle {
        margin:  40px auto;
    }
}


@media screen and (max-width: 480px) {
    .cover__subtitle {
        margin:  7px auto 24px;
        font-size: 14px;
        line-height: 17px;
        width: 91.7%;
    }
}
