.place__title {
    font-size: 72px;
    line-height: 65px;
    margin: 0;
    width: 51.5%;
}

@media screen and (max-width: 992px){
    .place__title {
        font-size: 42px;
        line-height: 46px;
        width: 47%;
        margin-right: 28px;
        white-space: pre-line;
    }
}

@media screen and (max-width: 480px) {
    .place__title {
        width: 91.47%;
        margin: 0 auto;
    }
}