@import url('./_main/intro__text_main.css');
@import url('./_stat/intro__text_stat.css');

.intro__text {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    
}

@media screen and (max-width: 992px) {
    .intro__text {
        width: 100%;    
    }
}