.button {
    background: #026AD6;
    box-shadow: 0px 6px 17px rgba(1, 30, 60, 0.15);
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 218px;
    height: 52px;
    font-size: 15px;
    line-height: 20px;
}
