.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 110px;
}

.buttons-container > *:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 680px) {
    .buttons-container {
        margin: 30px 0 50px;
    }
}