@import url('./__items/tariff__items.css');
@import url('./__item/tariff__item.css');
@import url('./__info/tariff__info.css');
@import url('./__text/tariff__text.css');
@import url('./__title/tariff__title.css');
@import url('./__container/tariff__container.css');

.tariff {
    background-color: #fff;
    min-height: 622px;
}
