@import url('./_unselected/header__lang_unselected.css');

.header__lang {
    width: 30px;
    height: 23px;
    color: white;
    font-size: 24px;
    line-height: 23px;
    margin-left: 18px;
    font-weight: normal;
    font-style:normal;
}

@media screen and (max-width: 480px) {
    .header__lang {
        font-size: 18px;
        line-height: 17px;
    }
}