.header__menu {
    min-height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 640px;
}

@media screen and (max-width: 992px) {
    .header__menu {
        width: 600px;
    }
}

@media screen and (max-width: 730px) {
    .header__menu {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .header__menu {
        flex-direction: column;
        padding: 20px 0;
        height: 130px;
    }
}

