@import url('./__title/company__title.css');
@import url('./__text/company__text.css');
@import url('./__image/company__image.css');

.company {
    display: grid;
    grid-template-columns: repeat(2, 530px);
    grid-column-gap: 56px;
    justify-content: center;
    padding-top: 100px;
}
