.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    color: #FFFFFF;
}

@media screen and (max-width: 992px){
    .footer__link {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 480px){
    .footer__link {
        font-size: 24px;
        line-height: 41px;
    }
}
