.video__item {
    max-height: 323px;
    max-width: 100%;
    position: relative;
    height: 100%;
}

.video__item:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1200px){
    .video__item {
        width: calc((100% - 16px)/2);   
        height: 288px;
    }
}

@media screen and (max-width: 992px){
    .video__item {
        height: 200px;
    }
}

@media screen and (max-width: 480px){
    .video__item {
        width: 100%;
    }
    
    .video__item:first-child {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 372px){
.video__item {
    height: 192px;
}
}