@import url('./__container/comments__container.css');

@media screen and (max-width: 1200px){
    .comments {
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    .comments {
        width: 85.93%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px){
    .comments {
       width: 91.47%;
    }
}

@media screen and (max-width: 372){
    .comments {
       width: 90%;
    }
}