@import url('./__logo/header__logo.css');
@import url('./__langs/header__langs.css');
@import url('./__lang/header__lang.css');

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

@media screen and (max-width: 1200px){
    .header {
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    .header {
        width: 93.7%;
    }
}

@media screen and (max-width: 480px){
    .header {
        width: 91.47%;
    }
}

@media screen and (max-width: 372px){
    .header {
        width: 90%;
    }
}