.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    min-height: 120px;
}

@media screen and (max-width: 480px) {
    .controls {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        min-height: 60px;
    }
}