@import url('./__title/request__title.css');
@import url('./__text/request__text.css');
@import url('./__send/request__send.css');
@import url('./__input/request__input.css');
@import url('./__fields/request__fields.css');

.request {
    background-color: #F2F5F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
