.checkbox-container__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border: 1px solid #adadad;
}

.checkbox-container:hover .checkbox-container__checkbox ~ .checkbox-container__checkmark {
    background-color: #f4f4f4;
  }

.checkbox-container__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }