.video__title {
    font-size: 36px;
    line-height: 39px;
    margin: 12px 0 18px;
    width: 100%;
}
@media screen and (max-width: 992px){
    .video__title {
        font-size: 24px;
        line-height: 26px;
        margin: 8px 0 12px;

    }
}

@media screen and (max-width: 992px){
    .video__title {
        margin-bottom: 2px;
    }
}