@import url('./__title/intro__title.css');
@import url('./__accent/intro__accent.css');
@import url('./__text/intro__text.css');


.intro {
    max-width: 984px;
}

@media screen and (max-width: 1200px) {
    .intro {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .intro {
        width: 93.7%;
    }
}

@media screen and (max-width: 480px) {
    .intro {
        width: 91.47%;
    }
}

@media screen and (max-width: 372px) {
    .intro {
        width: 90%;
    }
}