.link {
    font-style: normal;
    color: #589bda;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:focus {
    border-bottom: 1px dashed #589bda;
    outline: none;
}
