.header__info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    width: 980px;
    min-height: 75px;
    align-items: center;
    border-bottom: 1px solid #589bda;
}

@media screen and (max-width: 1140px) {
    .header__info {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .header__info {
        font-size: 13px;
    }
}

@media screen and (max-width: 680px) {
    .header__info {
        border: none;
    }
}

