.video__text {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

@media screen and (max-width: 992px){
    .video__text {
        left: 24px;
        bottom: 24px;
    }
}

@media screen and (max-width: 372px){
    .video__text {
        left: 16px;
        bottom: 16px;
    }
}