.result__total-sum {
    font-size: 52px;
    line-height: 80px;
    color: #589bda;
}

@media screen and (max-width: 680px) {
    .result__total-sum {
        float: none;    
        text-align: center;
    }
}