.places {
    max-width: 984px;  
    height: 3362px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1200px){
    .places {
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    .places {
        width: 93.7%;
        height: 2928px;
    }
}
@media screen and (max-width: 699px) {
    .places {
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .places {
        width: 100%;
        height: 4743px;
    }
}