.list__right_standard {
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    .list__right_standard {
        font-size: 14px;
        line-height: 15px;
    }

    .form-result .list__right_standard {
        width: 120px;
    }
}


@media screen and (max-width: 680px) {
    .form-result .list__right_standard {
        width: auto;
    }
}