.contacts-row__button {
    background-color: transparent;
    border: 2px solid #589bda;
    margin-right: 25px;
}

@media screen and (max-width: 992px){
    .contacts-row__button {
        width: 90px;
        min-width: 90px;
        white-space: normal;
        word-wrap: break-word;
        font-size: 13px;
        line-height: 12px;
    }
}