.header__logo {

}

@media screen and (max-width: 730px){
    .header__logo {
        width: 75px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 480px){
    .header__logo {
        display: none;
    }
}

