.service-result {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 212px;
}

@media screen and (max-width: 730px) {
    .service-result {
        grid-template-columns: 1fr;
    }
}