@media screen and (max-width: 480px) {
    .burger__line {
        display: block;
        height: 4px;
        background-color: #589bda;

        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -1px;
        left: 0;
        transition: .5s;

    }

    .burger__line:first-child {
        top: 3px; 
      }
      .burger__line:last-child {
        top: 16px; 
      }  
}

