@import url('./__photo/service-card__photo.css');
@import url('./__text/service-card__text.css');
@import url('./_active/service-card_active.css');
@import url('./_calm/service-card_calm.css');

.service-card {
    min-height: 120px;
    display: flex;
}
