.place__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    align-items: flex-end;
}

@media screen and (max-width: 480px) {
    .place__row {
        margin-bottom: 32px;
    }
}

