.lead__title {
    max-width: 782px;
    margin: 0 auto;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
}

@media screen and (max-width: 699px) {
    .lead__title {
        font-size: 65px;
        line-height: 60px;
    }
}

@media screen and (max-width: 480px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        width: 91.47%;
    }
}

@media screen and (max-width: 372px){
    .lead__title {
        width: 90%;
    }
}
