@import url('./__list/progress__list.css');
@import url('./__list-item/progress__list-item.css');
@import url('./__line/progress__line.css');
@import url('./__text/progress__text.css');

.progress {
    height: 90px;
    background-color: #f4f4f4;  
    margin: 35px 0 45px;
    width: 100%;
    padding: 30px 0 0 0;
}

@media screen and (max-width: 480px) {
    .progress {
        display: none;
    }   
}