.video__container {
    max-height: 408px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px){
    .video__container {
        flex-direction: column;
    }

}