.result__total {
    margin: 60px 0;
    font-weight: bold;
}

@media screen and (max-width: 680px) {
    .result__total {
        margin: 35px auto 40px;
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .result__total {
        margin: 35px auto 40px;
        width: auto;
    }
}