@import url('./__arrow-right/button__arrow-right.css');
@import url('./__arrow-left/button__arrow-left.css');
@import url('./_active/button_active.css');
@import url('./_standard/button_standard.css');

.button {
    font-size: 14px;
    line-height: 24px;
    min-width: 145px;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media screen and (max-width: 680px) {
    .button {
        min-width: calc((100% - 10px)/2);
    }
}