.service-card__text {
    font-size: 18px;
    line-height: 18px;
    color: #151515;
    font-weight: 500;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 321px) {
    .service-card__text {
        font-size: 15px;
    }
}