@import url('./__logo/footer__logo.css');
@import url('./__icon/footer__icon.css');
@import url('./__content/footer__content.css');
@import url('./__calculate/footer__calculate.css');
@import url('./__button/footer__button.css');
@import url('./__contacts/footer__contacts.css');

.footer {
    min-height: 260px;
    border-top: 5px solid #589bda;
    background-color: #222d39;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .footer {
        font-size: 13px;
    }
}