@import url('./__container/video__container.css');
@import url('./__item/video__item.css');
@import url('./__icon-play/video__icon-play.css');
@import url('./__duration/video__duration.css');
@import url('./__title/video__title.css');
@import url('./__subtitle/video__subtitle.css');
@import url('./__item-bg/video__item-bg.css');
@import url('./__text/video__text.css');

@media screen and (max-width: 1200px){
    .video {
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    .video {
        width: 93.7%;
    }
}

@media screen and (max-width: 480px){
    .video {
        width: 91.47%;
    }
}

@media screen and (max-width: 372){
    .video {
        width: 90%;
    }
}