.wizard-contacts__buttons-container {
    margin-top: 3.2px;
}

@media screen and (max-width: 480px) {
    .wizard-contacts__buttons-container {
        width: 100%;
        margin-top: 3.2px;
        margin-bottom: 0;
    }
}