@import url('./__address-input/input-container__address-input.css');
@import url('./__square-input/input-container__square-input.css');
@import url('./__checkbox-container/input-container__checkbox-container.css');
@import url('./_center/input-container_center.css');
@import url('./_top/input-container_top.css');

.input-container {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 680px) {
    .input-container {
        display: block;
    }
}

