@import url('./__author/comment__author.css');
@import url('./__image/comment__image.css');
@import url('./__quote/comment__quote.css');

.comment {
    max-width: 382px;
}

@media screen and (max-width: 1200px){
    .comment {
        width: 296px;
    }
}

@media screen and (max-width: 992px){
    .comment {
        width: 382px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px){
    .comment {
        margin-bottom: 24px;
    }

    .comment:last-child {
        margin-bottom: 0px;
    }
}

