.content-subtitle {
	text-align: center;
	max-width: 640px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    font-size: 24px;
    line-height: 35px;
}

@media screen and (max-width: 480px) {
    .content-subtitle {
        font-size: 16px;
        line-height: 23px;
    }
}