.result__total-row {

}

.result__total-row:after {
    content:'';
    display: block;
    overflow: hidden;
    height: 60px;
    border-bottom: 1px dotted #666
}

@media screen and (max-width: 680px) {
    .result__total-row:after {
        display: none;
    }
}
