@import url('./__text/technologies__text.css');
@import url('./__image/technologies__image.css');
@import url('./__button/technologies__button.css');

.technologies {
    min-height: 548px;
    display: grid;
    grid-template-columns: 415px 488px;
    grid-column-gap: 78px;
    justify-content: center;
    align-items: center;
    background-color: #F2F5F8;
}
