.place__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 0 36px 0;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .place__paragraph {
        margin: 0 0 24px 0;
    }
}

@media screen and (max-width: 992px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 480px) {
    .place__paragraph {
        margin: 24px 16px 0;
    }

    .place__paragraph:last-child {
        margin: 24px 16px 0;
    }
}
