@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__figure/lead__figure.css');
@import url('./__caption/lead__caption.css');

.lead {
    max-width: 985px;
    max-height: 950px;    
}

@media screen and (max-width: 1200px) {
    .lead {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .lead {
        width: 93.7%;
    }
}

@media screen and (max-width: 992px) {
    .lead {
        width: 100%;
    }
}