@import url('./__copyright/footer__copyright.css');
@import url('./__link/footer__link.css');
@import url('./__item/footer__item.css');
@import url('./__menu/footer__menu.css');

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1200px){
    .footer {
        width: 90%;
    }
}


@media screen and (max-width: 992px){
    .footer {
        width: 93.7%;
    }
}

@media screen and (max-width: 480px){
    .footer {
        flex-direction: column;
        align-items: unset;
        width: 91.7%;
    }
}

@media screen and (max-width: 372px){
    .footer {
        width: 90%;
    }
}
