@import url('./__item/photo-grid__item.css');

.photo-grid {
    min-height: 596px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media screen and (max-width: 1200px){
    .photo-grid {
        grid-template-columns: repeat(3, 32.3%);
        grid-column-gap: 14px;
        grid-row-gap: 14px;
        width: 928px;
    }
}

@media screen and (max-width: 992px){
    .photo-grid {
        grid-template-columns: repeat(2, 48.8%);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        width: 93.7%;
    }
}

@media screen and (max-width: 375px){
    .photo-grid {
        grid-template-columns: 100%;
        width: 91.47%;
    }
}

@media screen and (max-width: 320px){
    .photo-grid {
        width: 90%;
    }
}