.contacts-name {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    width: 220px;
    margin: 0;
}

@media screen and (max-width: 992px){
    .contacts-name {
        display: none;
    }
}
