.content-title_comments {
    font-size: 72px;
    line-height: 65px;
}

@media screen and (max-width: 992px){
    .content-title_comments {
        font-size: 42px;
        line-height: 46px;
    }
}